.bd1{
	font-family: sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row1{
	display: flex;
	
}
.row2{
	display: flex;
	padding: 10px;
	
}
.row3{
	display: flex;
	padding: 20px;
	
}
.col-1{
	width:8.33333333%;
	margin-left: 5px;
	margin-right: 5px;
}
.col-2{
	width: 16.66666667%;
	margin-left: 5px;
	margin-right: 5px;
}
.col-3{
	width: 25%;
	margin-left: 5px;
	margin-right: 5px;
}
.col-4{
	width:33.33333333%;
	margin-left: 5px;
	margin-right: 5px;
}
.col-5{
	width:41.66666667%;
	margin-left: 5px;
	margin-right: 5px;
}
.col-6{
	width: 50%;
	margin-left: 5px;
	margin-right: 5px;
}
.col-7{
	width: 58.33333333%
	margin-left: 5px;
	margin-right: 5px;
}
.col-8{
	width: 66.66666667%;
	margin-left: 5px;
	margin-right: 5px;
}
.col-9{
	width: 75%;
	margin-left: 5px;
	margin-right: 5px;
}
.col-10{
	width: 83.33333333%;
	margin-left: 5px;
	margin-right: 5px;
}
.col-11{
	width: 91.66666667%;
	margin-left: 5px;
	margin-right: 5px;
}
.col-12{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
}
.align-center{
			text-align: center;
		}

.justifyDIV{
	display: flex;justify-content: right;
}