.search-input{padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;background-color:#fff;border:2px solid #4B088A;outline: 0;width:53%;margin-left: -6px;}

.search-btn{padding:.550rem;background-color:#4B088A;border:2px solid #4B088A;border-radius:0rem 1rem 1rem 0rem;outline: 0;color: #fff;position:fixed;cursor: pointer;width: 10%;text-align: center;}

.search-select-menu{padding:.66rem .60rem .58rem;background-color:#fff;border:2px solid #4B088A;border-radius:1rem 0rem 0rem 1rem;width:20%;}

body{
        margin: 0px;
    }
section {
  padding-bottom: 20px;
  height: 590px;
  position: relative;
    top:90px;
}
footer {
  background-color: #445268;
  color: white;
  height: 70px;
  transform:translateY(70px);
  position: fixed;
  width: 100%;
}
header{
  background-color: white;
  box-shadow : rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.custom-display{
  display: none;
}
object{
  width: 100%;
  height: 590px;
}
.signIn-btn{
  background-color:transparent;
  border: none;
  cursor: pointer;
  margin-right:15px;
  font-size: .875rem ;
  display: flex;
  align-items: center;
}

.cartCount{
  border: 1px solid red;
  border-radius: 10px;
  font-size:.8em;
  width:auto;
  height: 18px;
  padding: 0 5px 0px 5px;
  text-align: center;
  position:absolute;
  top:9px;
  margin-left:5px;
}

.logo{
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
}